.App {
  text-align: center;
}
.Attribute{
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sticky_block {
  position: sticky;
  top: 0px;
  background-color: #ff0000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div1{
  background-color:#e27396 ;
  /* content: url("https://kuochenlee.github.io/background_4/"); */
  
}
.div2{
  background-color:#9381ff ;
  height: 720px;
}
.div3{
  background-color: #14213d;
}
.div4{
  background-color: #1f7a8c;
  height: 590px;
  /* background-image: url('../public/image/Robot04.png'); */
}
.div5{
  background-color: #00f5d4;
}
.div6{
  background-color:#7a918d;
  height: 1010px;
}
.div7{
  background-color:#fff1e6;

}
.div8{
  background-color: #bfc0c0;
}
.king{
  position: absolute;
  width: 638px;
  height: 402px;
  left: 72px;
  top: 960px;
}

.robot{
  position: absolute;
  width: 731px;
  height: 798px;
  left: 709px;
  top: 100px;
}
.text{
  position: absolute;
  width: 547px;
  height: 256px;
  left: 76px;
  top: 193px;

  font-family: 'Hind Mysuru';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 82px;

  color: floralwhite;
}

.text1{
  color: #000000;
}
.text2{
  color: #ffffff;
}

.list1{
  background: #003d79;
  color: #fafafa;
  margin: 15px;
  width: 100px;
  height: 3em;
  padding: 8px;
  position: relative;
  border-radius: 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(#003d79, #003d79);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -webkit-linear-gradient(#003d79, #003d79);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M7%2010l5%205%205-5z%22%2F%3E%3C%2Fsvg%3E"), -moz-linear-gradient(#003d79, #003d79);
  background-position: right 0.5em top 50%, 0 0;
  background-size: contain, cover;
  background-repeat: no-repeat, repeat;
}
