.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sticky_block {
  position: sticky;
  top: 0px;
  background-color: #ff0000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div1{
  background-color:#e27396 ;
}
.div2{
  background-color:#9381ff ;
}

.king{
  position: absolute;
  width: 638px;
  height: 402px;
  left: 72px;
  top: 960px;
}

.robot{
  position: absolute;
  width: 731px;
  height: 798px;
  left: 709px;
  top: 100px;
}
.text{
  position: absolute;
  width: 547px;
  height: 256px;
  left: 76px;
  top: 193px;

  font-family: 'Hind Mysuru';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 82px;

  color: floralwhite;
}
